* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}


body {
	font-family: 'Roboto', sans-serif;

}

#check {
	display: none;
}

#icone {
	cursor: pointer;
	padding: 10px;
	position: absolute;
	z-index: 1;
}

.barra {
	background-color:#FDFFF5;
	height: 100%;
	width: 300px;
	position: absolute;
	transition: all .2s linear;
	left: -300px;
	opacity: 1;

}

nav {
	width: 100%;
	position: absolute;
	top: 75px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


nav a {
	text-decoration: none;
}

.link {
	background-color: #FDFFF5;
	padding:19.5px;
	font-size: 12pt;
	transition: all .2s linear;
	color: #5F890D ;
	border-bottom: 2px solid #8CB401;
	opacity: ;
	margin-top: 200px;

}


.link:hover {
	background-color: #5F890D;
	color: #FDFFF5;

}

#check:checked ~ .barra {
	transform: translateX(300px);
}

#check:checked ~ .barra nav a .link{
	opacity: 1;
	margin-top: 0;
	transition-delay: .2s;
}


